{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Dodaj listę prezentów{% if user %} {{ user.username }}{% endif %}
{% endblock %}

{% block content %}
<div class="px-4 pt-5 my-5 text-center">
    <h1 class="display-5 fw-bold">
        Dodaj nową listę życzeń{% if user %} dla {{ user.first_name }} {{ user.last_name }}{% endif %}
    </h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Wypełnij poniższy formularz i kliknij <strong>dodaj</strong> aby dodać nową listę.</p>
    </div>
    <form action="{{ gift.get_absolute_url }}" method="post">
        {{ form|crispy }}
        {% csrf_token %}
        <input class="btn btn-primary" type="submit" value="Dodaj">
    </form>
</div>
{% endblock %}