{% extends "base.html" %}

{% block title %}Lista prezentów{% endblock %}

{% block content %}

<div class="px-4 pt-5 my-5 text-center">
    <h1 class="display-6 fw-bold">Lista życzeń {% if list_name %}{{list_name.list_name}}{% endif %}</h1>
    <p class="lead mb-4">Przejrzyj szczegóły prezentów lub kliknij rezerwuj.</p>

    {% if gift_list %}
        {% for gift in gift_list %}
            <div class="container alert alert-primary text-center">
                <div class="row align-items-center">
                    <div class="col">
                        <a href={{ gift.offer_url }} target="_blank" rel="noopener noreferrer">
                            {% if gift.image_url %}
                                <img class="thumbnail" src={{ gift.image_url }}>
                            {% else %}
                                {% load static %}
                                    <img class="thumbnail" src="{% static 'images/unknown_gift.jpg' %}">
                            {% endif %}
                        </a>
                    </div>
                    <div class="col">
                        <h3>{{ gift.title }}</h3>
                        {% if gift.offer_url %}
                            <a class="btn btn-light" href={{ gift.offer_url }} target="_blank" rel="noopener noreferrer" role="button">Przykładowa oferta</a>
                        {% endif %}
                    </div>
                   <div class="col">
                       <button type="button"
                               class="btn btn-primary reserve-btn"
                               data-bs-toggle="modal"
                               data-bs-target="#reserveModal"
                               data-gift-id={{ gift.id }}
                               data-gift-name={{ gift.title }}
                       >
                           Zarezerwuj
                       </button>
                    </div>
                </div>
            </div>

        {% endfor %}

    {% endif %}
    <hr class="mt-2 mb-3"/>
    <a type="button" class="btn btn-success btn-lg px-4" href="{% url 'wish_list_app:add_gift_list' list_name.slug %}">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
        </svg>
        Dodaj nowy prezent
    </a>
</div>

<!-- Modal -->
<div class="modal fade" id="reserveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Rezerwacja prezentu przez {{request.user.first_name}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="reserveModalBody"></div>
      <div class="modal-footer">
          <form action="{% url 'wish_list_app:reserve_gift' %}" method="post">
              {% csrf_token %}
            <input name="gift_id" id="confirmId" type="number" hidden>
            <input class="btn btn-primary" type="submit" value="Zarezerwuj">
        </form>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}