<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand mb-0 h1" href="{% url 'home:home' %}">
      {% load static %}
      <img src="{% static 'images/gift.svg' %}" width="30" height="30" alt="home logo"/>
      Start
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home:users' %}">
            <img src="{% static 'images/people.svg' %}" width="30" height="30" alt="home logo"/>
            Użytkownicy
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'wish_list_app:all_wish_lists' %}">
            <img src="{% static 'images/view-list.svg' %}" width="30" height="30" alt="home logo"/>
            Listy prezentów
          </a>
        </li>
      </ul>
      {% if request.user.is_authenticated %}
        <div class="navbar-text p-3">
          Witaj {{ request.user.first_name }}!
        </div>
        <form method="post" action="{% url 'home:logout' %}">
            {% csrf_token %}
            <button class="btn btn-outline-dark px-4" type="submit">
             {% load static %}
              <img src="{% static 'images/box-arrow-left.svg' %}" width="30" height="30" alt="home logo"/>
              Wyloguj
            </button>
        </form>
      {% else %}
        <a type="button" class="btn btn-outline-dark" href="{% url 'home:login' %}">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0z"/>
            <path fill-rule="evenodd" d="M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708z"/>
          </svg>
          Zaloguj
        </a>
      {% endif %}
    </div>
  </div>
</nav>