{% extends "wish_list_app/base.html" %}

{% block title %}Lista prezentów{% endblock %}

{% block content %}
    <div class="alert alert-primary text-center" role="alert">
        <h1>Propozycje prezentów</h1>
    </div>

    {% if gift_list %}
        {% for gift in gift_list %}
            <div class="container alert alert-primary text-center">
                <div class="row align-items-center">
                    <div class="col">
                        <a href={{ gift.offer_url }} target="_blank" rel="noopener noreferrer">
                            {% if gift.image_url %}
                                <img class="thumbnail" src={{ gift.image_url }}>
                            {% else %}
                                {% load static %}
                                    <img class="thumbnail" src="{% static 'images/unknown_gift.jpg' %}">
                            {% endif %}
                        </a>
                    </div>
                    <div class="col">
                        <h3>{{ gift.title }}</h3>
                        {% if gift.offer_url %}
                            <a class="btn btn-light" href={{ gift.offer_url }} target="_blank" rel="noopener noreferrer" role="button">Przykładowa oferta</a>
                        {% endif %}
                    </div>
                   <div class="col">
                        <a class="btn btn-primary" href="{{ gift.get_reserved_url }}" role="button">Zarezerwuj</a>
                    </div>
                </div>
            </div>

        {% endfor %}

    {% endif %}
<!--            </div>-->
{% endblock %}