{% extends "wish_list_app/base.html" %}

{% block title %}Listy prezentów{% endblock %}

{% block content %}
    <h1>Wybierz czyje listy prezentów chcesz obejrzeć</h1>
    {% if users %}
        <ul>
        {% for user in users %}
            <li>
<!--                <a href="{% url 'wish_list_app:user_lists' user.id %}">-->
                <a href="{{ user.get_absolute_url }}">
                    {{ user.first_name }} {{ user.last_name }}
                </a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}

{% endblock %}